.home__section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("../../../assets/images/home-img.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__section_text {
  max-width: 60rem;
}

.home__section_h3 {
  font-size: 6rem;
  text-transform: uppercase;
}

.home__section_p {
  font-size: 2rem;
  font-weight: lighter;
  padding: 1rem 0;
  color: #eee;
}
